:root {
    --navbar-color: #fff;
    --first-background: #f2f2f7;
    --secondary-background: #fff;
    --page-title: #555;
    --page-text: #555;
    --invert-control: 100%;
}
  
@media screen and (prefers-color-scheme: dark) {
    :root {
        --first-background: #333;
        --secondary-background: #2C2C2E;
        --page-title: #fff;
        --page-text: #fff;
        --invert-control: 0%;
    }
}

html {
    background-color: var(--secondary-background);
}
body {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--page-text);
    background-color: var(--first-background);
    line-height: 30px;
    text-align: center;
}
 
strong { font-weight: 600; }
 
a, a:hover, a:focus {
    color: #F3315E;
    text-decoration: none;
    transition: all .3s;
}
 
h1, h2 {
    font-weight: 900;
}
 
/***** Top menu *****/
 
.navbar {
    /* background: #fff; */
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
    background-color: var(--secondary-background);
}
 
.navbar-nav {
    font-size: 15px;
    color: #F3315E;
    font-weight: 600;
}
 
.navbar-nav .nav-link {
    color: #F3315E;
    border: 0;
}

.navbar-toggler-icon {
    color: #F3315E;
}
 
.navbar-nav .nav-link:hover {
    color: rgb(233, 110, 139);
}
 
.navbar-nav .nav-link:focus {
    color: rgb(233, 110, 139);
    outline: 0;
}
  
.navbar-brand {
    color: #F3315E;
}

/***** Top content *****/
 
.top-content {
    padding: 100px 0 50px 0;
    background: rgb(153,27,51);
    background: -moz-linear-gradient(215deg, rgba(153,27,51,1) 15%, rgba(53,51,129,1) 85%);
    background: -webkit-linear-gradient(215deg, rgba(153,27,51,1) 15%, rgba(53,51,129,1) 85%);
    background: linear-gradient(215deg, rgba(153,27,51,1) 15%, rgba(53,51,129,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#991b33",endColorstr="#353381",GradientType=1);
}
 
.top-content  h1{
    color: #fff;
}
.top-content {
    color: #fff;
}

#features, #how-it-works, #samples, #footer {
    padding: 70px 0;
}

#footer {
    background-color: var(--secondary-background)
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(var(--invert-control));
}
